<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatApp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script> 
	<link href="https://fonts.googleapis.com/css?family=Courgette|Exo|Ropa+Sans" rel="stylesheet">
</head>
<body>

	<main id="app">		
	
	
		<section class="form-container">
        
        <div class="online">
            Online Users ({{ connectedUsers.length }})
        </div>
        <ul class="onlineUserNames">
        <li v-for="user in connectedUsers"> 
           {{ user }}
         </li>    
            </ul>
         
			<label for="nickname">Your Name</label>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="Type Your Name..">
			
			<form>
				<label for="message">Type something</label>
				<input v-model="message" type="text" id="nickname" class="message" placeholder="Type Your Name..">
				<input type="submit" value="Send Message" @click.prevent="dispatchMessage">
			</form>

		</section>
		
		<section class="messages">
			<ul id="messages" v-for="message in messages">
			<div v-if="message.type == 'info'" class="info">
              {{ message.msg }}
            </div>
			<!-- render the message component here -->
			<newMessage :msg="message">
			</newMessage>
				
			</ul>
		</section>		
	
	</main> 
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>
</html>