.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: 30%;
    padding: 8px 12px;
    background-color:burlywood; 
    border-radius: 8px;
    margin-bottom: 1rem;
    font-family: 'Courgette', cursive;

    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: rgb(238, 232, 170);
    color: black;
    font-family: 'Courgette', cursive;

}